In [1]:
import pandas as pd
people = {"Name":["aman","desk","demo"],
          "last_name":["aa","dd","de"],
           "email":["aa@gmail.com","dd@yandex.com","de@hotmail.com"]}
df = pd.DataFrame(people)

In [2]:
df["full_name"] = df["Name"] + " " + df["last_name"] #adding new columns to data 
df

   Name last_name           email full_name
0  aman        aa    aa@gmail.com   aman aa
1  desk        dd   dd@yandex.com   desk dd
2  demo        de  de@hotmail.com   demo de

In [3]:
df.drop(columns= ["Name","last_name"],inplace = True) #removing columns

In [4]:
df["full_name"].str.split(" ",expand = True)

      0   1
0  aman  aa
1  desk  dd
2  demo  de

In [5]:
df[["first","last"]] = df["full_name"].str.split(" ",expand = True) #again adding first and last 
df

            email full_name first last
0    aa@gmail.com   aman aa  aman   aa
1   dd@yandex.com   desk dd  desk   dd
2  de@hotmail.com   demo de  demo   de

In [6]:
df.append({"first":"Tony"},ignore_index = True) #adding new row to our data and ignore_index = True is important to add

            email full_name first last
0    aa@gmail.com   aman aa  aman   aa
1   dd@yandex.com   desk dd  desk   dd
2  de@hotmail.com   demo de  demo   de
3             NaN       NaN  Tony  NaN

In [7]:
people = {"first":["adfgman","derwetsk"],
          "last":["aerta","dwrd"],
           "email":["aa@gmwerwerail.com","dd@ydfgeaandex.com"]}
df2 = pd.DataFrame(people)

In [8]:
df.append(df2,ignore_index = True, sort = False) #adding new DF to old DF

                email full_name     first   last
0        aa@gmail.com   aman aa      aman     aa
1       dd@yandex.com   desk dd      desk     dd
2      de@hotmail.com   demo de      demo     de
3  aa@gmwerwerail.com       NaN   adfgman  aerta
4  dd@ydfgeaandex.com       NaN  derwetsk   dwrd

In [17]:
filt =  df["last"] == "aa"
df.drop(index=df[filt].index)
df

            email full_name first last
0    aa@gmail.com   aman aa  aman   aa
1   dd@yandex.com   desk dd  desk   dd
2  de@hotmail.com   demo de  demo   de