In [1]:
import pandas as pd
people = {"Name":["aman","desk","demo"],
          "last_name":["aa","dd","de"],
           "email":["aa@gmail.com","dd@yandex.com","de@hotmail.com"]}
df_p = pd.DataFrame(people)

In [2]:
df_p

   Name last_name           email
0  aman        aa    aa@gmail.com
1  desk        dd   dd@yandex.com
2  demo        de  de@hotmail.com

In [3]:
df_p.columns

Index(['Name', 'last_name', 'email'], dtype='object')

In [4]:
df_p.columns = ["first_name ","last_name","email"] #update all columns name}

In [5]:
df_p

  first_name  last_name           email
0        aman        aa    aa@gmail.com
1        desk        dd   dd@yandex.com
2        demo        de  de@hotmail.com

In [6]:
df_p.columns = [x.lower() for x in df_p.columns] #update cols to upper
df_p

  first_name  last_name           email
0        aman        aa    aa@gmail.com
1        desk        dd   dd@yandex.com
2        demo        de  de@hotmail.com

In [ ]:
df_p.columns = df_p.columns.str.replace("_","_",) #replace columns character with others
df_p

In [9]:
df_p.rename(columns={'first*name':'first'},inplace = True)
df_p

  first_name  last_name           email
0        aman        aa    aa@gmail.com
1        desk        dd   dd@yandex.com
2        demo        de  de@hotmail.com

In [18]:
df_p.loc[2] = ["john","smith","a@gmail.com"] #updating columns
df_p

  first_name  last_name          email
0        aman        aa   aa@gmail.com
1        desk        dd  dd@yandex.com
2        john     smith    a@gmail.com

In [22]:
df_p.loc[2,["last_name","email"]] = ["lambda","lambda@photon.com"] #changing specific vals in row

In [23]:
df_p

  first_name  last_name              email
0        aman        aa       aa@gmail.com
1        desk        dd      dd@yandex.com
2        john    lambda  lambda@photon.com

In [26]:
df_p.at[2,"last_name"] = "okkokkk" #other method to do same work do above
df_p

  first_name  last_name              email
0        aman        aa       aa@gmail.com
1        desk        dd      dd@yandex.com
2        john   okkokkk  lambda@photon.com

In [34]:
df_p["email"] = df_p["email"].str.upper() #changing and applying attribute to a specific column

In [35]:
df_p

  first_name  last_name              email
0        aman        aa       AA@GMAIL.COM
1        desk        dd      DD@YANDEX.COM
2        john   okkokkk  LAMBDA@PHOTON.COM